/* ============================================================================
** TAILWIND
============================================================================ */

@tailwind base;

/* ============================================================================
** COLOURS
============================================================================ */

:root {
  --color-white: #fff;
  --color-black: #191919;
  --color-brand: #ffba08;
}
