/* ============================================================================
** TAILWIND
============================================================================ */

@tailwind base;

/* ============================================================================
** COLOURS
============================================================================ */

:root {
  --color-white: #fff;
  --color-black: #191919;
  --color-brand: #ffba08;
}

/* ============================================================================
** FONTS
============================================================================ */

@font-face {
  font-family: 'Founders Grotesk';
  src: url('../../static/fonts/FoundersGrotesk-Regular.woff2') format('woff2'),
    url('../../static/fonts/FoundersGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Founders Grotesk Regular';
  src: url('../../static/fonts/FoundersGrotesk-RegularItalic.woff2')
      format('woff2'),
    url('../../static/fonts/FoundersGrotesk-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url('../../static/fonts/FoundersGrotesk-Semibold.woff2') format('woff2'),
    url('../../static/fonts/FoundersGrotesk-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url('../../static/fonts/FoundersGrotesk-SemiboldItalic.woff2')
      format('woff2'),
    url('../../static/fonts/FoundersGrotesk-SemiboldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}
